* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'EB Garamond', 'Raleway', 'DynaPuff', sans-serif;
    font-size: 18px;
    background-color: #e14590b8;
}

nav {
    display: flex;
    justify-content: end; 
    align-items: center;
    background-color: #52a051cf;
    height: 80px;    
    position: relative;
}

.nav-item {
    margin: 5px;    
}

.profile {
    margin-right: 20px;
}

.avatar {
    background-image: url(/media/mira.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: relative; 
}

.avatar-icon {
    background-image: url(/media/mira.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.avatar:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #300003;
    padding: 10px;
    border: 1px solid transparent;
}

.link:hover {
    border: 1px solid #640007;   
}

.hidden-toggle-input {
    display: none;
}

.hidden-toggle-input:checked ~ .popup {
    display: flex;
}

.services-toggle-button {
    display: block;
    margin-right: 15px;
    padding: 10px;
    border: 1px solid transparent;
}

.services-toggle-button .services-icon {
    height: 25px;
    display: block;
}

.services-toggle-button:hover {
    border: 1px solid #640007;
    cursor: pointer;
}

.popup {
    border: 1px solid transparent;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 315px;
    max-height: 435px;
    background-color:#ebd1eadc;    
    overflow: auto;  
    position: absolute;
    right: 20px;
    top: 100%;
    display: none;  
}

.popup .item-content { 
  margin-left: 15px;
  margin-top: 15px;
  flex-wrap: wrap;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  width: 55px;
}

.popup .item-content img {
    height: 40px;
    width: 40px;
    margin: 0 auto; 
    display: block;
}

.popup .item-content .text {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
}

.popup .item-content:hover {
    background-color: #e14590b8;
}

.hidden-toggle-input:checked ~ .more-section {
    display: flex;
    height: auto;
}

.hidden-toggle-input:checked ~ .more-toggle-button {
    margin-bottom: 5px;
}

.more-section {
    flex-wrap: wrap;
    display: none;
    margin-bottom: 15px;
}

.more-toggle-button {
    width: 315px;
    text-align: center;
    margin: 20px;
    
}

.more:hover {
    background-color: #e14590b8;
    border-radius: 30px;
    padding: 10px 25px;
    cursor: pointer;
}
